<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="html5reset.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div id="app">
            <input v-model="entry" @keyup.enter="addEntry">
            <div v-if="filteredEntries">
                <ul>
                    <li v-for="e in filteredEntries">
                        {{e | shout}}
                    </li>
                </ul>
            </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>

</html>