body {
  width: 100%;
  height: 100%;
  background-color: rgb(98, 139, 133);
}

#container {
  width: 600px;
  height: 100%;
  background-color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#app {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
